<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../assets/hospicare.png" alt="" width="100" height="30" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li *ngIf="isAuth()" class="nav-item">
            <a class="nav-link active" routerLink="inicio" aria-current="page" href="#">Inicio</a>
          </li>
          <li *ngIf="isAuth()" class="nav-item">
            <a class="nav-link active" routerLink="reservar-cita" aria-current="page" href="#">Reservar Cita</a>
          </li>
          <li *ngIf="!isAuth()" class="nav-item">
            <a class="nav-link active" routerLink="registro" aria-current="page" href="#">Registrarse</a>
          </li>
          <li *ngIf="isAuth()" class="nav-item">
            <a class="nav-link active" routerLink="citas-reservadas" aria-current="page" href="#">Citas Reservadas</a>
          </li>
          <li *ngIf="isAuth()" class="nav-item">
            <a class="nav-link active" routerLink="citas-personales" aria-current="page" href="#">Citas Personales</a>
          </li>
          <li *ngIf="isAdmin" class="nav-item">
            <a class="nav-link active" routerLink="altas" aria-current="page" href="#">Altas</a>
          </li>
          <li *ngIf="isDoctor" class="nav-item">
            <a class="nav-link active" routerLink="consultas" aria-current="page" href="#">Consultas</a>
          </li>
        </ul>
        <form *ngIf="isAuth()" class="d-flex me-3">
          <input class="form-control me-2" #search type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-primary" (click)="busqueda(search.value)" type="submit">Search</button>
        </form>

        <ul class="navbar-nav  mb-2 mb-lg-0">
          <li *ngIf="!isAuth()" class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="login" href="#">Iniciar Sesión</a>
          </li>

          <li *ngIf="isAuth()" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{mensaje}}, {{username}}
            </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="favoritos" href="#">Productos Favoritos</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" (click)="cerrarSesion()" href="#">Cerrar Sesión</a></li>
              </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>