<footer>
    <!--Pie de página-->
    <div class="contenedor">
        <div class="contacto">
            <h1>CONTACTO</h1>
            <p>Email: hospicare&#64;gmail.com</p>
            <p>Tel: 4494189869</p>
            <p>Dirección: Av. Francisco I. Madero 123, Zona Centro,<br> 20000 Aguascalientes, Ags.</p>
        </div>
        <div class="suscribete">
            <div class="send">
                <h1>LOS MEJORES HOSPITALES</h1>
                <p></p>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <p>Más de 984 mil personas como tú se han unido para servicios médicos fácilmente</p>
                    </div>
                </div>
                <br>
            </div>
            <div class="iconos">
                <div class="facebook">
                    <h3>FACEBOOK</h3>
                    <a href="https://www.facebook.com/profile.php?id=100085429663614"><i
                            class="fa-brands fa-square-facebook fa-4x" style="color:#FFFFFF;"></i></a>
                </div>
                <div class="instagram">
                    <h3>INSTAGRAM</h3>
                    <a href="https://www.instagram.com/beachbeeruaa/"><i class="fa-brands fa-instagram fa-4x"
                            style="color:#FFFFFF;"></i></a>
                </div>
                <div class="twitter">
                    <h3>TWITTER</h3>
                    <a href="https://twitter.com/BeachBeerUAA"><i class="fa-brands fa-twitter fa-4x"
                            style="color:#FFFFFF;"></i></a>
                </div>
                <br><br>
            </div>

            <div class="enlaces">
                <a href="#">
                    <p class="envio">Comunidad </p>
                </a>
                <a href="#">
                    <p class="pregunta">Preguntas frecuentes</p>
                </a>
                <a href="#">
                    <p class="metodo">Trabaja con nosotros</p>
                </a>
                <a href="#">
                    <p class="politica">Conoce al equipo</p>
                </a>
            </div>
        </div>
        <div class="visitanos">
            <h1>HospiCare</h1>
            <p>Tu salud en buenas manos. HospiCare facilita la gestión hospitalaria, permitiéndote programar citas, consultar resultados y comunicarte con tus médicos.</p>
            <p>¡Bienvenido a la comunidad!</p>
        </div>

    </div>

</footer>