<div class="container mt-4">
  <h2>Altas de Doctores</h2>
  <form [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
    <!--<div class="mb-3">
      <label for="cedulaProfesional" class="form-label">Cédula Profesional</label>
      <input type="text" class="form-control" id="cedulaProfesional" formControlName="cedulaProfesional">
      <div *ngIf="doctorForm.get('cedulaProfesional')?.invalid && doctorForm.get('cedulaProfesional')?.touched" class="text-danger">
        La cédula profesional es requerida y debe ser un número.
      </div>
    </div>
  -->
    <!--<div class="mb-3">
      <label for="nombre" class="form-label">Nombre</label>
      <input type="text" class="form-control" id="nombre" formControlName="nombre">
      <div *ngIf="doctorForm.get('nombre')?.invalid && doctorForm.get('nombre')?.touched" class="text-danger">
        El nombre es requerido.
      </div>
    </div>
  -->
    <div class="mb-3">
      <label for="Especialidad" class="form-label">Especialidad</label>
      <input type="text" class="form-control" id="Especialidad" formControlName="Especialidad">
      <div *ngIf="doctorForm.get('Especialidad')?.invalid && doctorForm.get('Especialidad')?.touched" class="text-danger">
        La especialidad es requerida y debe tener máximo 50 caracteres.
      </div>
    </div>
    <div class="mb-3">
      <label for="turnoDoc" class="form-label">Turno</label>
      <select class="form-select" id="turnoDoc" formControlName="turnoDoc">
        <option value="matutino">Matutino</option>
        <option value="vespertino">Vespertino</option>
      </select>
      <div *ngIf="doctorForm.get('turnoDoc')?.invalid && doctorForm.get('turnoDoc')?.touched" class="text-danger">
        El turno es requerido.
      </div>
    </div>
    <div class="mb-3">
      <label for="salarioDoc" class="form-label">Salario</label>
      <input type="text" class="form-control" id="salarioDoc" formControlName="salarioDoc">
      <div *ngIf="doctorForm.get('salarioDoc')?.invalid && doctorForm.get('salarioDoc')?.touched" class="text-danger">
        El salario es requerido y debe ser un número con hasta dos decimales.
      </div>
    </div>
    <div class="mb-3">
      <label for="consultorio" class="form-label">Consultorio</label>
      <input type="text" class="form-control" id="consultorio" formControlName="consultorio">
      <div *ngIf="doctorForm.get('consultorio')?.invalid && doctorForm.get('consultorio')?.touched" class="text-danger">
        El consultorio es requerido y debe tener máximo 45 caracteres.
      </div>
    </div>
    <div class="mb-3">
      <label for="estado" class="form-label">Estado</label>
      <input type="text" class="form-control" id="estado" formControlName="estado">
      <div *ngIf="doctorForm.get('estado')?.invalid && doctorForm.get('estado')?.touched" class="text-danger">
        El estado es requerido y debe tener máximo 45 caracteres.
      </div>
    </div>
    <!--<div class="mb-3">
      <label for="idCuenta" class="form-label">ID Cuenta</label>
      <input type="text" class="form-control" id="idCuenta" formControlName="idCuenta">
      <div *ngIf="doctorForm.get('idCuenta')?.invalid && doctorForm.get('idCuenta')?.touched" class="text-danger">
        El ID de la cuenta es requerido y debe ser un número.
      </div>
    </div>-->
    <div class="mb-3">
      <label for="idCuenta" class="form-label">ID Cuenta</label>
      <select class="form-select" id="idCuenta" formControlName="idCuenta">
        <option *ngFor="let usuario of usuarios" [value]="usuario.idCuenta">{{ usuario.idCuenta }}</option>
      </select>
      <div *ngIf="doctorForm.get('idCuenta')?.invalid && doctorForm.get('idCuenta')?.touched" class="text-danger">
        El ID de la cuenta es requerido y debe ser un número.
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="doctorForm.invalid">Guardar</button>
  </form>
</div>