.contenedor{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.titulo{
    text-align: center;
    font-size: 2em;
    margin-bottom: 25px;
    margin-top: 40;
}

.frame{
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
}