<div class="container mt-4">
    <h2>Registrar Receta</h2>
    <div class="fecha-hora">
      <p class="fecha">Fecha: {{ fechaActual }}</p>
    </div>
    <form [formGroup]="recetaForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="idReceta" class="form-label">ID Receta</label>
        <!--<input type="text" class="form-control" id="idReceta" formControlName="idReceta" disabled>
        <div class="text-danger">
          El ID de la receta es requerido y debe ser un número.
        </div>-->
      </div>
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción</label>
        <textarea class="form-control" id="Descripcion" formControlName="Descripcion"></textarea>
        <div *ngIf="recetaForm.get('Descripcion')?.invalid && recetaForm.get('Descripcion')?.touched" class="text-danger">
          La descripción es requerida y debe tener máximo 50 caracteres.
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="recetaForm.invalid">Guardar Receta y Generar PDF</button>
    </form>
  </div>